[submodule "diskimage/linux-v5.0"]
	path = diskimage/linux-v5.0
	url = https://github.com/torvalds/linux.git
[submodule "diskimage/riscv-pk-v1.0.0"]
	path = diskimage/riscv-pk-v1.0.0
	url = https://github.com/riscv-software-src/riscv-pk.git
[submodule "diskimage/buildroot-2019.11.3"]
	path = diskimage/buildroot-2019.11.3
	url = https://git.busybox.net/buildroot
